PROJECT_NAME=SENTINEL-X
VERSION=1.0.0
SECRET_KEY=yoursecretkeyhere

MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=sentinel_x

REDIS_HOST=localhost
REDIS_PORT=6379

YOLO_MODEL_PATH=yolov8n.pt
WHISPER_MODEL=base
